parameters:
	ignoreErrors:
		-
			message: "#^Parameters should have \"DateTime\" types as the only types passed to this method$#"
			count: 2
			path: Classes/Domain/Model/FrontendUser.php

		-
			message: "#^Parameters should have \"TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\ObjectStorage\\<OliverKlee\\\\FeUserExtraFields\\\\Domain\\\\Model\\\\FrontendUserGroup\\>\" types as the only types passed to this method$#"
			count: 1
			path: Classes/Domain/Model/FrontendUser.php

		-
			message: "#^Parameters should have \"TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\ObjectStorage\\<TYPO3\\\\CMS\\\\Extbase\\\\Domain\\\\Model\\\\FileReference\\>\" types as the only types passed to this method$#"
			count: 1
			path: Classes/Domain/Model/FrontendUser.php

		-
			message: "#^Parameters should have \"TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\ObjectStorage\\<OliverKlee\\\\FeUserExtraFields\\\\Domain\\\\Model\\\\FrontendUserGroup\\>\" types as the only types passed to this method$#"
			count: 1
			path: Classes/Domain/Model/FrontendUserGroup.php
